/* CSS Document */

body{ background:url(../images/ImageGen.png);}


.header{ background:url(../images/headers.png); font-size:36px; color:#FFFFFF;}
.header1{ background:url(../images/heading-hor-cord-black-bkg.png); font-size:20px; color:#FFFFFF;}